.number {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    margin: 5px;
    line-height: 30px;
}

.even {
    background-color: green;
}

.odd {
    background-color: yellow;
}

.prime {
    background-color: red;
}
