body{
    font-family: Montserrat;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    font-size: 145px;
}

.animation {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-transform: uppercase;
    width: 80%;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}